# Ex2 - Getting and Knowing your Data

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [5]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
user= pd.read_csv(url, sep='\t')

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [18]:
users = pd.read_csv(url, sep='|', index_col='user_id')
print(users)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

### Step 4. See the first 25 entries

In [19]:
user.head(25)

   user_id|age|gender|occupation|zip_code
0                 1|24|M|technician|85711
1                      2|53|F|other|94043
2                     3|23|M|writer|32067
3                 4|24|M|technician|43537
4                      5|33|F|other|15213
5                  6|42|M|executive|98101
6              7|57|M|administrator|91344
7              8|36|M|administrator|05201
8                    9|29|M|student|01002
9                    10|53|M|lawyer|90703
10                    11|39|F|other|30329
11                    12|28|F|other|06405
12                 13|47|M|educator|29206
13                14|45|M|scientist|55106
14                 15|49|F|educator|97301
15            16|21|M|entertainment|10309
16               17|30|M|programmer|06355
17                    18|35|F|other|37212
18                19|40|M|librarian|02138
19                20|42|F|homemaker|95660
20                   21|26|M|writer|30068
21                   22|25|M|writer|40206
22                   23|30|F|artist|48197
23                   24|21|F|artist|94533
24                 25|39|M|engineer|55107

### Step 5. See the last 10 entries

In [20]:
user.tail(10)

    user_id|age|gender|occupation|zip_code
933                934|61|M|engineer|22902
934                  935|42|M|doctor|66221
935                   936|24|M|other|32789
936                937|48|M|educator|98072
937              938|38|F|technician|55038
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841

### Step 6. What is the number of observations in the dataset?

In [21]:
num_observations = user.shape[0]
print(f"Number of observations in the dataset: {num_observations}")

Number of observations in the dataset: 943

### Step 7. What is the number of columns in the dataset?

In [22]:
num_columns = user.shape[1]
print(f"Number of columns in the dataset: {num_columns}")

Number of columns in the dataset: 1

### Step 8. Print the name of all the columns.

In [23]:
columns_name = user.columns
print(columns_name)

Index(['user_id|age|gender|occupation|zip_code'], dtype='object')

### Step 9. How is the dataset indexed?

In [24]:
user.index

RangeIndex(start=0, stop=943, step=1)

### Step 10. What is the data type of each column?

In [25]:
user.dtypes

user_id|age|gender|occupation|zip_code    object
dtype: object

### Step 11. Print only the occupation column

In [29]:
users.occupation

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### Step 12. How many different occupations are in this dataset?

In [31]:
users.value_counts("occupation")

occupation
student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: count, dtype: int64

### Step 13. What is the most frequent occupation?

In [32]:
users.mode().iloc[0]

age                30
gender              M
occupation    student
zip_code        55414
Name: 0, dtype: object

### Step 14. Summarize the DataFrame.

In [33]:

users.describe
print(users.describe)

<bound method NDFrame.describe of          age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]>

### Step 15. Summarize all the columns

In [34]:
sumarize_colums = users.describe
print(sumarize_colums)

<bound method NDFrame.describe of          age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]>

### Step 16. Summarize only the occupation column

In [36]:
users.value_counts("occupation")

occupation
student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: count, dtype: int64

### Step 17. What is the mean age of users?

In [40]:
users['age'].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of user_id
1      24
2      53
3      23
4      24
5      33
       ..
939    26
940    32
941    20
942    48
943    22
Name: age, Length: 943, dtype: int64>

### Step 18. What is the age with least occurrence?

In [41]:
users['age'].min

<bound method NDFrame._add_numeric_operations.<locals>.min of user_id
1      24
2      53
3      23
4      24
5      33
       ..
939    26
940    32
941    20
942    48
943    22
Name: age, Length: 943, dtype: int64>